:root {
	--body-font: 'Arial', sans-serif;
	--secondary-font: 'Times New Roman', serif;
	--text: #000000;
	--active: #e0e0e0;
	--grey: #e0e0e0;
	--font-base: 20px;
	--font-small: 16px;
	font-family: var(--body-font);
	color: var(--text);
	font-size: var(--font-base);
}

html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	margin: 0;
	padding: 0;
}

main,
header {
	margin: 1rem;
}

header a {
	display: block;
}

details {
	margin: 0.125rem 0;
	cursor: pointer;
	padding: 0 0.5rem;
	border-radius: 1rem;
	transition: linear 0.25s;
	
}

details:hover {
	background: var(--grey);
	background-image: linear-gradient(
		to bottom,
		var(--active),
		white,
		var(--active)
	);
}

details p:first-of-type {
	margin-top: 1rem;
}

details p:last-of-type {
	margin-bottom: 1rem;
}

details[open] {
	/* margin: 0.5rem 0; */
	padding: 0.5rem 0.5rem;
	background-image: linear-gradient(
		to bottom,
		var(--active),
		white 25%,
		white 75%,
		var(--active)
	);
}

details div {
	padding: 0 1rem;
	font-size: var(--font-small);
}
