:root {
	--body-font: 'Arial', sans-serif;
	--secondary-font: 'Times New Roman', serif;
	--text: #000000;
	--active: #ff0000;
	--grey: #e0e0e0;
	--font-base: 20px;
	--font-small: 16px;
	font-family: var(--body-font);
	color: var(--text);
	font-size: var(--font-base);
}

html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	margin: 0;
	padding: 0;
}

main,
header {
	padding: 1rem;
}

header a {
	display: block;
	font-size: 10px;
	color: var(--grey);
	text-transform: uppercase;
	text-decoration: none;
}

header nav {
	padding: 1rem 0;
	width: inherit;
	display: block;
}

header nav input {
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
	border: 1px solid var(--text);
	border-radius: 0px;
	padding: 0.25rem 1rem;
}

header input[type='search'] {
	font-size: var(--font-base);
}

header input[type='search']:focus, input:focus {
	border-color: var(--active);
	outline-style: none;
	outline: none;
	outline: 0;
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

main a {
	padding: 0.25rem 1rem;
	margin: 0.25rem;
	border: 1px solid var(--text);
	box-shadow: 0 0 8px 1px var(--grey) inset;
	cursor: pointer;
}

main a[data-confirm=''] {
	display: none;
}

main a:hover {
	box-shadow: 0 0 8px 1px var(--active) inset;
		border-color: var(--active);
}
